@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital@1&family=Source+Code+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Gentium Book Plus', serif;
    scroll-behavior: smooth;
}

.sidebar {
    background-color: rgb(223, 215, 215);
    transition: transform 1.5s ease-in;
    font-family: 'Gentium Book Plus', serif;
    height: 100vh;
    position: absolute;
    width: 9vw;
    opacity: 0.8;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.sidebar nav {
    padding: 12px;
}

.sidebar nav li {
    list-style: none;
    font-size: 15px;
    padding: 15px;
    transition: all 0.3s ease-in-out;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 4px white;
    transition: all 0.3s ease;
}

.sidebar nav li a:hover {
    color: rgb(116, 36, 116);
    font-size: larger;
    transform: scale(1.1);
}

.main {
    background: linear-gradient(to right, rgb(116, 36, 116), rgb(162, 55, 109));
    width: 140vw;
    height: 100vh;
    background-size: cover;
}

.container {
    display: flex;
    position: relative;
    z-index: 1;
}

.infocontainer {
    display: flex;
    height: 65vh;
    width: 80vw;
    justify-content: space-around;
    margin: 114px auto;
    margin-left: 140px;
    animation: fadeIn 2s;
}

.hello {
    font-size: 52px;
}

.name {
    font-size: 58px;
    margin-bottom: 10px;
    font-weight: bold;
}

.about {
    font-size: 30px;
    margin-bottom: 5px;
}

.devinfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.devpic img {
    margin-top: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border: 2px solid black;
    border-radius: 50%;
    width: 20vw;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.devpic img:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
    border: 2px dotted greenyellow;
}

.buttons button {
    margin: 10px;
    border-radius: 20px;
    padding: 15px;
    color: white;
    background-color: #FF00FF;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons button:hover {
    background-color: white;
    color: blue;
    transform: scale(1.1);
}

.moreabout {
    margin-top: 5px;
    font-size: 21px;
    margin-bottom: 10px;
}

.contactform {
    text-align: center;
    border: 2px solid grey;
    margin-left: 30%;
    margin-top: 10%;
    width: 40%;
    font-family: 'Gentium Book Plus', serif;
    background-color: rgb(122, 66, 111);
    border-radius: 2%;
    animation: fadeInUp 2s;
}

input {
    border-radius: 5px;
    font-size: smaller;
    padding: 5px;
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    transition: box-shadow 0.3s ease;
}

input:focus {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#btns {
    color: black;
    width: 100px;
    background-color: rgb(120, 120, 205);
    font-size: larger;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#btns:hover {
    background-color: whitesmoke;
    transform: scale(1.1);
}

.hamburger {
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.hamburger:hover {
    transform: rotate(90deg);
}

.footer {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    background: black;
    color: white;
    opacity: 0.9;
}

.footer img {
    width: 100%;
    border-radius: 10px;
}

.footer .logos:hover {
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 452px) {
    .devpic {
        display: none;
    }

    .intro, .blogcontainer, .contactform {
        margin: 8px;
    }
}
